{% extends 'base.html' %}

{% block content %}
{% from "macro.html" import render_field %}
<form method='POST' class="text-center">
    <input type="hidden" name='csrf_token' value='{{csrf_token()}}'>
    <div>{{ render_field(field.nome)}}</div>
    <div>{{ render_field(field.email)}}</div>
   
    <select name="sexo" id="sexo">
        <option>
            Masculino
        </option>
        <option>
            Feminino
        </option>
    </select>

    <button type= 'submit'>
        Enviar
    </button>
</form>
{% endblock %}